version: '3.8'

services:
    rabbitmq:
        image: rabbitmq:4.0-management
        container_name: rabbitmq
        ports:
           - "5672:5672" # RabbitMQ default port
           - "15672:15672"  # RabbitMQ management UI
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        restart: unless-stopped

volumes:
    rabbitmq_data:
